.settings {
    user-select: none;
}

.settings__advanced__header {
    display: inline;
}

.settings__advanced__setting {
    opacity: 0;
    margin-top: 10px;
    transition: all .5s ease-in-out;
}

.settings__advanced__header__arrow {
    display: none;
}

.settings__advanced--open .settings__advanced__header__arrow--open {
    display: inline;
}

.settings__advanced--closed .settings__advanced__header__arrow--closed {
    display: inline;
}

.settings__advanced--open .settings__advanced__setting {
    opacity: 100;
}

.settings__label input {
    opacity: 0;
}

.settings__label__color-placeholder {
    display: inline-block;
    position: absolute;
    left: 50px;
    margin-top: 4px;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
}

.settings__label p {
    display: inline;
    position: absolute;
    left: 85px;
    margin-top: 4px;
}

.settings button {
    color: var(--accent-color);
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    width: 60px;
    height: 30px;
    transition: all .2s ease-in-out;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.settings button:hover {
    color: var(--accent-reversed-color);
    background-color: var(--accent-color);
}


.MainContainer_gap__2St9b,
.MainContainer_toolbar__nz8kV,
.WorkspacesPage_rootInner__a81ga,
.ClassSelection_rootInner__QDHl7,
.ToDoPage_main__3Jd0v,
.LastUpdated_rootInner__3hk0y,
.MyFilesPage_main__B5YFf,
.ToolbarNotifications_notificationsContent__3K3cM a,
div[class*="ReturnedAssignmentItem_theme"],
.AssignmentItem_root__3JS4-,
.GmailCommunicationItem_root__1l8uW,
.MainContainer_contentNav__TbxR0 {
    background-color: var(--secondary-color) !important;
}

.LeftSidePanel_rootInner__2bzbx .LeftSidePanel_tabItem__chNxH.LeftSidePanel_active__20aEp .LeftSidePanel_arrowContainer__1gk0t,
.LeftSidePanel_bgForIcon__1qPJ_ use {
    color: var(--secondary-color) !important;
}

.MainContainer_toolbar__nz8kV,
.Toolbar_icon__1KoH- {
    border-color: var(--secondary-color) !important;
}

.NotificationsFilterDropdown_item__1qf5e:hover {
    background-color: var(--primary-light-color) !important;
}

.MainContainer_rootInner__1pOnY,
.WorkspaceTile_rootInner__Y-mTw,
.ClassSelection_modalTrigger__15PSf,
.ToDoTile_rootInner__2ps3k,
.ToDoTile_completed__22EXh,
.MyFilesTile_rootInner__2FAR0,
.MainContainer_rightSidePanel__1il5o,
.FilterButtons_choice__TRz7O:not(.FilterButtons_active__E6Cmk),
.Toolbar_icon__1KoH-[data-test-id="Sd-Notifications-Button-OpenDropdown"],
.AppLoadingPage_root__36tjD {
    background-color: var(--primary-color) !important;
}

.WorkspaceTile_rootInner__Y-mTw:hover,
.WorkspaceTile_rootInner__Y-mTw a:hover,
.ClassSelection_modalTrigger__15PSf:hover,
.ToDoTile_rootInner__2ps3k:hover a,
.ToDoTile_rootInner__2ps3k:hover .ToDoTile_completed__22EXh,
.MyFilesTile_rootInner__2FAR0 a:hover,
.FilterButtons_choice__TRz7O:not(.FilterButtons_active__E6Cmk):hover{
    background-color: var(--primary-hover-color) !important;
}

.WorkspaceTile_rootInner__Y-mTw,
.ToDoTile_rootInner__2ps3k a,
.MyFilesTile_root___U8_k a {
    border-color: var(--primary-color) !important;
}

.WorkspaceTile_rootInner__Y-mTw:hover {
    border-color: var(--primary-hover-color) !important;
}

.ClassSelection_modalTriggerText__LhwvD,
.ClassSelection_modalTriggerIcon__2u3rQ,
.Toolbar_icon__1KoH-,
.LeftSidePanel_tabsContainer__1uNGR a,
.WorkspacesPage_rootInner__a81ga,
.WorkspaceTile_rootInner__Y-mTw a,
.FilterButtons_tabName__2AzlF,
.ToDoPage_sectionHeader__11Cnx,
.ToDoSection_sectionTitle__1pOYe,
.ToDoTile_rootInner__2ps3k a,
.LastUpdated_rootInner__3hk0y,
.Button_root__iDevS,
.MyFilesPage_sectionHeader__MGOtp,
.MyFilesSection_sectionTitle__11Rr4,
.MyFilesTile_tileTitle__EyuwD,
.ToolbarNotifications_rootInner__SiHbE,
.ToolbarNotifications_rootInner__SiHbE a > div,
.ToolbarNotifications_header__2cm49,
.ToolbarPersonaSettings_rootInner__1JSnG,
.LeftSidePanel_logo__3qdoA,
.AppLoadingPage_header__3W2ND {
    color: var(--accent-color) !important;
}

.LeftSidePanel_bgForIcon__1qPJ_,
.FilterButtons_active__E6Cmk,
.ToDoTile_date__pLfyG:not(.ToDoTile_dueTodayTomorrow__2COnS),
.Button_root__iDevS:hover,
.ReturnedAssignmentItem_grade__kON6E,
.NotificationsFilterDropdown_ddTrigger__32-7-,
::-webkit-scrollbar-thumb {
    background-color: var(--accent-color) !important;
}

.ToDoTile_tileStatus__2xX5u,
.ToDoSection_sectionTitle__1pOYe,
.Button_root__iDevS,
.MyFilesSection_sectionTitle__11Rr4,
.LeftSidePanel_tabItem__chNxH:not(:first-of-type):not(:last-of-type)>a {
    border-color: var(--accent-color) !important;
}

.Toolbar_iconActive__1dv6r,
.Toolbar_icon__1KoH-:hover {
    box-shadow: 0 0 0 2px var(--accent-color) !important;
}

.FilterButtons_active__E6Cmk .FilterButtons_tabName__2AzlF,
.ToDoTile_date__pLfyG:not(.ToDoTile_dueTodayTomorrow__2COnS),
.Button_root__iDevS:hover,
.ReturnedAssignmentItem_grade__kON6E,
.NotificationsFilterDropdown_ddTrigger__32-7- {
    color: var(--accent-reversed-color) !important;
}